<html xmlns:th="http://www.thymeleaf.org">
<head>

    <style>
        .page {
            width: 680px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .topo-info {
            border: 1px solid #000000;
            height: 150px;
            padding: 10px;
        }

        .area-topo-title {
            text-align: center;
            font-size: 12px;
            width: 100%;
            padding: 5px;
            font-weight: bold;
            padding-bottom: 5px;
        }


        .area-topo-conteudo {
            padding-top: 5px;
            text-align: left;
            font-size: 12px;
            padding-top: -5px;
        }


    </style>

</head>

<body>
<div class="page">

    <div class="topo-info">

        <div class="area-topo-title">
            KANGU, ME CONTA SOBRE O PONTO EM QUE VOU DEIXAR O PACOTE? CLAROOOO!
        </div>

        <div class="area-topo-info">

            <div class="area-topo-conteudo" style="margin-right: 10px; width: 100%">
                <strong> BUTECO ME </strong> <br />
                AVENIDA JOAO GONCALVES LEITE, 4523 <br />
                JARDIM ALVORADA <br />
                Votuporanga / SP - CEP: 15.505-000 <br />
            </div>
            <br />
            <div class="area-topo-conteudo" style="text-align: left !important; width: 100%">
                HORARIO DE FUNCIONAMENTO: Seg à Dom das 08:00 às 23:00 <br />
                ESTACIONAMENTO NO LOCAL: Não <br />
                VENDA DE EMBALAGEM NO LOCAL: Não <br />
            </div>

        </div>

    </div>

    <div class="etiqueta-info">

        <div style="padding-top: 20px;">

            <!-- etiqueta -->
            <div style="float: left; width: 340px;">
                <div style="float: left; width: 340px;">
                    <div style="border: 2px dotted #000000; padding: 30px; width: 343px; height: 400px">

                        <div style="margin-bottom: 10px;display: flex;">
                            <div style="float: left; text-align: left; vertical-align: middle; width: 33%;">
                                <img style="padding-top: 20px;" src="https://portal.kangu.com.br/public/layout/kangu/images/cliente/logo-mindlog-preto-branco.jpg" alt="mindlog" title="mindlog" width="100" /> <br />
                                <span style="position: relative; left: 5px;"> Midlog </span>
                            </div>

                            <div style="width: 33%;">


                            </div>

                            <div style="float: right; text-align: right; vertical-align: middle; width: 33%;">
                                <img style="padding-top: 25px; padding-left: 10px;" src="https://portal.kangu.com.br/public/layout/kangu/images/kangu-preto-branco.jpg" alt="" width="100" />
                            </div>

                        </div>

                        <div style="margin-top: 15px; margin-bottom: 5px; width: 100%; display: flex">

                            <div style="float: left; width: 50%;">
                                <span> NF:<strong> <span th:text="${random}"></span> </strong> </span> <br />
                                <span> Pedido:<strong> <span th:text="${order_id}"></span> </strong> </span>
                            </div>

                            <div style="float: right; width: 50%; text-align: right">
                                <span> Volume: 1/1 </span> <br />
                                <span> Peso(g) : <strong>200</strong> </span>
                            </div>
                        </div>


                        <br />
                        <br />
                        <br />

                        <div style="width: 100%; position: absolute; top: 370px; right: 130px">
                            <div style="text-align: center;">
                                <img src="http://localhost:8086/barcodes/EAN128/123456123456" />
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        <div style="font-size: 15px; text-align: left; margin-bottom: 7px; margin-top: 15px; width: 100%;">
                            <strong>Remetente:</strong> <span th:text="${nome_cliente}"></span><br />
                            <span th:text="${logradouro_endereco_cliente}"></span><br />
                            <span th:text="${bairro_endereco_cliente}"></span><br />
                            <strong><span th:text="${cep_endereco_cliente}"></span></strong> <span th:text="${cidade_endereco_cliente}"></span>-<span th:text="${uf_endereco_cliente}"></span>
                        </div>

                        <br />

                        <div style="border-radius: 5px; border: 2px solid #000000; padding-left: 2px; height: 90px">

                            <div style="float: left; font-size: 15px; width: 100%; margin-top: 10px;">
                                <strong>Destinatário:</strong> <span th:text="${nome_cliente_dest}"></span><br />
                                <span th:text="${logradouro_endereco_cliente_dest}"></span> <br />
                                <span th:text="${bairro_endereco_cliente_dest}"></span><br />
                                <strong><span th:text="${cep_endereco_cliente_dest}"></span></strong> <span th:text="${cidade_endereco_cliente_dest}"></span>-<span th:text="${uf_endereco_cliente_dest}"></span>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="intrucoes-info">

    </div>

</div>

</body>
</html>